<h1>{{siteTitle}}</h1>
<<<<<<< HEAD
<ul>
    <a href="/" class="btn btn-dark">Inicio</a>
    <a href="/login" class="btn btn-dark">login</a>
    <a href="/sign-up" class="btn btn-dark">sign-up</a>
</ul>
=======


>>>>>>> 3db38b866ecb93633ebff57b00148c1a3dd91023
<figure id="myMap"></figure>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/places-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}&callback=initMap"></script>
