<div class="container">


    <div class="container">

        <div class="row justify-content-center">

            <div class="col-9 search">
                <section class="top-banner">
                    <form class="d-flex mb-5">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-dark" type="submit">Search</button>
                    </form>
                    <div class="msg">{{msg}}</div>
                </section>
            </div>
        </div>

        <div class="row show" id="overlay">
            <div class="col">
                <h2>Search for a City!</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-9">
                <section class="card-section">
                    <ul class="cities"></ul>

                </section>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-9">
                <section class="forecast-section">
                    <ul class="forecasts"></ul>
                </section>
            </div>
        </div>
    </div>

    <figure class="not-show" id="myMap"></figure>


</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/api-handler.js"></script>
<script src="/js/places-map.js"></script>
<script src="/js/mapStyles.js"></script>
<script src="/js/api-call.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}&callback=initMap"></script>