<<<<<<< HEAD
<h1>{{siteTitle}}</h1>
<ul>
    <a href="/" class="btn btn-dark">Inicio</a>
    <a href="/login" class="btn btn-dark">login</a>
    <a href="/sign-up" class="btn btn-dark">sign-up</a>
</ul>
=======
<div class="container">
>>>>>>> 84c508a133b68893540ac5f09ac10aaadbdb7403

    <nav>
        <h2>{{siteTitle}}</h2>
    </nav>
    <ul>
        <a href="/" class="btn btn-dark btn-sm">Inicio</a>
        <a href="/login" class="btn btn-dark btn-sm">login</a>
        <a href="/sign-up" class="btn btn-dark btn-sm">sign-up</a>
    </ul>
    <div class="container">

<<<<<<< HEAD
<figure id="myMap"></figure>
=======
        <div class="row justify-content-center">
>>>>>>> 84c508a133b68893540ac5f09ac10aaadbdb7403

            <div class="col-9">
                <section class="top-banner">
                    <form class="d-flex mb-5">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-dark" type="submit">Search</button>
                    </form>
                    <div class="msg"></div>
                </section>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-9">
                <section class="card-section">
                    <ul class="cities"></ul>
                </section>
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/api-handler.js"></script>
    <script src="/js/api-call.js"></script>
</div>


{{!-- <figure id="myMap"></figure> --}}
{{!--
<script src="/js/places-map.js"></script>
<<<<<<< HEAD
<script src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}&callback=initMap"></script>
=======
<script src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}&callback=initMap"></script> --}}
>>>>>>> 84c508a133b68893540ac5f09ac10aaadbdb7403
