<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">

            <div class="container">
                <div class="row card align-items-center justify-content-around" style="border-radius: 25px">
                    <div class="col-6">
                        <h2>Nombre de la ciudad</h2>

                        {{[0].temp}}
                        <br>
                        {{[0].weather}}

                    </div>
                    <div class="col-6">
                        <h2>Icono va aquí</h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row card align-items-center justify-content-around" style="border-radius: 25px">
                    <div class="col">
                        max:{{[0].maxTemp}} <sup>°C</sup>/ min: {{[0].main.temp_min}}<sup>°C</sup> |
                        pressure: {{[0].main.pressure}} |
                        humidity: {{[0].main.humidity}}


                    </div>

                </div>

            </div>

            <div class="container">
                <div class="row card align-items-center justify-content-around" style="border-radius: 25px">
                    <div class="col-3">
                        {{[8].date}}
                        Max:{{[8].maxTemp}}
                        Min:{{[8].minTemp}}

                    </div>
                    <div class="col-3">
                        {{[16].date}}
                        Max{{[16].maxTemp}}
                        Min{{[16].minTemp}}
                    </div>
                    <div class="col-3">
                        {{[24].date}}
                        Max{{[24].maxTemp}}
                        Min{{[24].minTemp}}
                    </div>
                    <div class="col-3">
                        {{[32].date}}
                        Max{{[32].maxTemp}}
                        Min{{[32].minTemp}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/api-handler.js"></script>
<script src="/js/api-call.js"></script>
<script src="./../../services/weather-handler.js"></script>